@model FurnitureSiteProject_MentorMate.Models.UserProfileModel

<form asp-action="UpdateProfile" method="POST" enctype="multipart/form-data">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" style="width: 800px" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="FirstName" class="control-label"></label>
        <input asp-for="FirstName" class="form-control" style="width: 800px" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LastName" class="control-label"></label>
        <input asp-for="LastName" class="form-control" style="width: 800px" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>


    @Html.AntiForgeryToken()

    <div style="float: left;position:relative;top:8px">
        <input type="submit" value="Update profile" class="form-control" style="display:inline-block; width:200px" />
    </div>
</form>


<div style="position:relative;left:20px">
    <a class="nav-link text-dark" style="font-size:small" asp-area="" asp-controller="Account" asp-action="ChangePassword"><button class="form-control" style="width:200px">Change password</button></a>
</div>
