@model IEnumerable<FurnitureSiteProject_MentorMate.Models.ShoppingCartItemViewModel>

<table class="table">
    <tbody>
        <div style="position:relative;left:500px;top:100px">
            <h1>Cart is empty</h1>
        </div>
    </tbody>
</table>
