@{
    ViewData["Title"] = "Contacts";
}


<h2>Contacts</h2>

<h4>E-mail</h4>
<p>SomeName@something.com</p>

<h4>Telefon Number</h4>
<p>0123456789</p>

<h4>Located At</h4>
<p>5300 Gabrovo, Bulgaria</p>


